.feed-item {
  margin: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.feed-item-avatar {
  width: 40px;
  height: 30px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-item-username {
  font-size: 14px;
  font-weight: 700;
}

.feed-item-date {
  font-size: 14px;
  color: #666;
}

.feed-item-activity-type {
  width: 40px;
  height: 30px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-item-title {
  font-size: 23px;
  font-weight: 700;
}

.feed-item-description {
  font-size: 14px;
}

.feed-item-activity-stat-heading {
  font-size: 13px;
  color: #666;
}

.feed-item-activity-stat {
}
