* {
  box-sizing: border-box;
  color: #2d2d2d;
}

::selection {
  background: #fc4c02;
  color: #fff;
}
::-moz-selection {
  background: #fc4c02;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f5f5fa;
  margin: 0;
}

textarea:focus {
  outline: none;
}

.label {
  margin-bottom: 5px;
  display: inline-block;
  font-size: 14px;
}

.page-container {
  max-width: 1248px;
  margin: 50px auto;
}

.container-xs {
  padding: 5px;
}

.container-s {
  padding: 10px;
}

.container-m {
  padding: 15px;
}

.container-l {
  padding: 20px;
}

.container-xl {
  padding: 25px;
}

.group-row-xs > *:not(:last-child) {
  margin-right: 5px;
}

.group-row-s > *:not(:last-child) {
  margin-right: 10px;
}

.group-row-m > *:not(:last-child) {
  margin-right: 15px;
}

.group-row-l > *:not(:last-child) {
  margin-right: 20px;
}

.group-row-xl > *:not(:last-child) {
  margin-right: 25px;
}

.button {
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

.icon-button {
  height: 100%;
  display: table;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.icon-button:hover {
  background-color: #fff;
}

.button-primary {
  background-color: #fc4c02;
  color: #fff;
  width: 75px;
  padding: 10px;
  font-weight: 700;
  font-size: 13px;
}

.button-secondary {
  background-color: #eaeaea;
  width: 75px;
  padding: 10px;
  font-weight: 700;
  font-size: 13px;
}

.input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 3px;
}

.select {
  height: 100%;
  background-color: #fff;
  border-radius: 0;
}

.container {
  background-color: #fff;
  padding: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.padding-xs {
  padding: 5px;
}

.padding-s {
  padding: 10px;
}

.padding-m {
  padding: 15px;
}

.padding-l {
  padding: 20px;
}

.padding-xl {
  padding: 25px;
}

.padding-xxl {
  padding: 30px;
}

.margin-top-xs {
  margin-top: 5px;
}

.margin-top-s {
  margin-top: 10px;
}

.margin-top-m {
  margin-top: 15px;
}

.margin-top-l {
  margin-top: 20px;
}

.margin-top-xl {
  margin-top: 25px;
}

.margin-right-xs {
  margin-right: 5px;
}

.margin-right-s {
  margin-right: 10px;
}

.margin-right-m {
  margin-right: 15px;
}

.margin-right-l {
  margin-right: 20px;
}

.margin-right-xl {
  margin-right: 25px;
}

.margin-bottom-xs {
  margin-bottom: 5px;
}

.margin-bottom-s {
  margin-bottom: 10px;
}

.margin-bottom-m {
  margin-bottom: 15px;
}

.margin-bottom-l {
  margin-bottom: 20px;
}

.margin-bottom-xl {
  margin-bottom: 25px;
}

.margin-left-xs {
  margin-left: 5px;
}

.margin-left-s {
  margin-left: 10px;
}

.margin-left-m {
  margin-left: 15px;
}

.margin-left-l {
  margin-left: 20px;
}

.margin-left-xl {
  margin-left: 25px;
}

.font-xs {
  font-size: 12px;
}

.font-s {
  font-size: 14px;
}

.font-m {
  font-size: 16px;
}

.font-l {
  font-size: 18px;
}

.font-xl {
  font-size: 20px;
}

.font-xxl {
  font-size: 22px;
}

.font-xxxl {
  font-size: 24px;
}

.line-height-xs {
  line-height: 19px;
}

.line-height-s {
  line-height: 23px;
}

.line-height-m {
  line-height: 26px;
}

.line-height-l {
  line-height: 29px;
}

.line-height-xl {
  line-height: 32px;
}

.line-height-xxl {
  line-height: 36px;
}

.line-height-xxxl {
  line-height: 39px;
}

.font-weight-lightest {
  font-weight: 100;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-dark {
  font-weight: 700;
}

.font-weight-darkest {
  font-weight: 900;
}

.font-color-light {
  color: #666;
}

.border-right {
  border-right: 1px solid #ddd;
}

.border-right-none {
  border-right: none;
}
